*.pyc
*.log
node_modules
coverage/
arches_he_descriptors/logs
arches_he_descriptors/export_deliverables
arches_he_descriptors/cantaloupe/*
arches_he_descriptors/staticfiles
arches_he_descriptors/media/packages
arches_he_descriptors/media/build/
arches_he_descriptors/uploadedfiles/*
arches_he_descriptors/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
